body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #444495;
    p{
        color: #00d4ff;
    }

}

#container h1 {
    font-size: 20px;
}

#cabecera{
    background: #508230;
    border: blue;
    border-radius: 4px;
    box-shadow: chocolate;
}